h1, h2, h3 {
	text-align: center;
	padding-top: 0.5em;
}
p {
	font-size: 18px;
	margin-block-start: 1em;
  margin-block-end: 1em;
}
small {
	font-size: 12px;
}
.container, .logo {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
}
.center {
	text-align: center;
}
.image_center{
	margin-right: auto;
	margin-left: auto;
}
pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.image-round{
  border-radius: 50%;
}
.sns-link{
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.notice{
	text-align: center;
	font-size: 20px;
	color: #f33;
	margin: 30px 0px 30px 0;
}
.align_right{
	text-align: right;
}